<div id="<%= dom_id film %>">
  <p>
    <strong>Название:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Рейтинг:</strong>
    <%= film.rating %>
  </p>

  <p>
    <strong>Год:</strong>
    <%= film.year %>
  </p>

  <p>
    <strong>Ссылка на источник:</strong>
    <%= film.link_youtube %>
  </p>

  <p>
    <strong>Директор:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Жанр:</strong>
    <%= film.category %>
  </p>
</div>